*
{
	margin: 0;
	padding: 0;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("pics/original.gif") repeat;
}

body
{
	display: grid;
	grid-template-columns: 300px 300px 300px 300px 300px;
	grid-template-rows: 230px 230px 230px;
}

h2
{
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 40px;
	grid-column: 2/4;
	grid-row: 2/4;
	padding: 50px 0 0 290px;
}

h3
{
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	grid-column: 1/3;
	grid-row: 1/3;
	padding: 0 0 60px 380px;
}

h4
{
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	grid-column: 3/5;
	grid-row: 2/3;
	padding: 70px 0 0 240px;
}

.container
{
	grid-column: 3/4;
	grid-row: 2/3;
	padding-left: 30px;
	position: relative;
	width: 250px;
	display: flex;
	align-items: center;
}

.container .icon
{
	width: 200px;
}

.container .icon path
{
	fill:transparent;
	stroke-width: 10;
	stroke: white;
}

.container .icon path
{
	stroke-dasharray: 1870;
	stroke-dashoffset: 0;
}

.container .icon:hover path
{
	animation: animate-heart 1s linear forwards
}

@keyframes animate-heart
{
	0%
	{
		stroke-dashoffset: 0;
	}
	40%
	{
		stroke-dashoffset: 1870;
	}
	80%
	{
		stroke-dashoffset: 3740;
		fill: transparent;
	}
	100%
	{
		stroke-dashoffset: 3740;
		fill: white;
	}
	
}
 
.moon
{ 
	grid-column: 2/3;
	grid-row: 1/2;
	margin-top: 200px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 100px; 
    width: 100px; 
    box-shadow: -15px 15px 0 5px white  ; 
    border-radius: 50%; 
  } 



/* CSS Document */

