*
{
	margin: 0;
	padding: 0;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("pics/original.gif") repeat;
}

body
{
	display: grid;
	grid-template-columns: 300px 300px 300px 300px 300px;
	grid-template-rows: 230px 230px 230px;
}

h2
{
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 40px;
	grid-column: 2/4;
	grid-row: 2/4;
	padding: 50px 0 0 310px;
}

h5
{
	position:absolute;
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	margin: 650px 0 0 1150px;
}

a
{
	text-decoration: none;
}

.container
{
	grid-column: 3/4;
	grid-row: 2/3;
	padding-left: 30px;
	position: relative;
	width: 250px;
	display: flex;
	align-items: center;
}

.container .icon
{
	width: 200px;
}

.container .icon path
{
	fill:transparent;
	stroke-width: 10;
	stroke: white;
}

.container .icon path
{
	stroke-dasharray: 1870;
	stroke-dashoffset: 0;
}

.container .icon:hover path
{
	animation: animate-heart 1s linear forwards
}

@keyframes animate-heart
{
	0%
	{
		stroke-dashoffset: 0;
	}
	40%
	{
		stroke-dashoffset: 1870;
	}
	80%
	{
		stroke-dashoffset: 3740;
		fill: transparent;
	}
	100%
	{
		stroke-dashoffset: 3740;
		fill: white;
	}
	
}

.space
{
	position: absolute;
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	margin-top: 120px;
	margin-left: 450px;
}

.rocket
{
	position: absolute;
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	margin-top: 50px;
	margin-left: 710px;
}

.rabbit2
{
	position: absolute;
	color: white;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	margin-top: 120px;
	margin-left: 930px;
}
 
.moon
{ 
	margin-top: 260px;
	margin-left: 520px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 100px; 
    width: 100px; 
    box-shadow: -15px 15px 0 5px white; 
    border-radius: 50%; 
  }

.star
{ 
	margin-top: 120px;
	margin-left: 460px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 100px; 
    width: 100px; 
    box-shadow: -15px 15px 0 5px white; 
    border-radius: 50%; 
  }

.rabbit
{ 
	margin-top: 260px;
	margin-left: 400px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 100px; 
    width: 100px; 
    box-shadow: -15px 15px 0 5px white; 
    border-radius: 50%; 
  }

.abby
{
	position: absolute;
	color: pink;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	margin: 500px 0 0 230px;
}

.eilin
{
	position: absolute;
	color: paleturquoise;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	margin: 500px 0 0 40px;
}

.colin
{
	position: absolute;
	color: palegoldenrod;
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	margin: 270px 0 0 1340px;
}
/* CSS Document */

